body {
    background-color: #EDE55C !important;
}

h4, h5, h6 {
    color: rgb(70, 18, 129);
}

a {
    font-weight: 700;
    color: rgb(70, 18, 129) !important;
}

input {
    font-size: 20px;
    width: 320px;
    padding: 7px 5px;
    display: block;
    float: left;
}

button {
    color: white;
    padding: 9px 5px;
    display: block;
    border: 0;
    background-color: rgb(70, 18, 129);
}

.search-area {
    width: 380px;
    margin: auto;
    margin-top: 40px;
}

.food-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.food-info {
    margin: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px gray;
}

#img-info {
    width: 310px;
    padding: 5px;
    background-color: white;
    display: block;
    border: 1px solid goldenrod;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 400px;
    overflow: hidden;
}

#img-info img {
    width: 300px;
    border-radius: 10px;
}

.error-area {
    width: 60%;
    padding: 30px 30px;
    text-align: center;
    color: red;
    margin: 110px auto;
    position: relative;
    background-color: white;
    box-shadow: 3px 3px 8px dimgray;
    border-radius: 10px;
    position: relative;
    display: none;
}

.close-button {
    background-color: dimgray;
    color: red;
    font-size: 30px;
    margin-left: 20px;
}