/* .navbar-nav, a{
    color: white !important;
} */

.search-area{
    width: 250px;
    margin: auto;
    margin-top: 20px;
}

.food-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.food-info{
    margin: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px gray;
}

#img-info{
    display: block;
    margin-top: 20px;
    margin-left: 400px;
}

#img-info img{
    width: 300px;
    border-radius: 10px;
}